@import "tailwindcss";

* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

.container {
  padding: 0 10px;
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@layer components {
  .test {
    background-color: gray;
  }
}

@font-face {
  font-family: "Orbitron-Regular";
  src: url("/Fonts/Orbitron/Static/Orbitron-Regular.ttf");
}

:root {
  --font: "Orbitron-Regular";
}

@layer components {
  /* Глобальные стили шрифта*/
  .global-font-family {
    font-family: var(--font);
    text-transform: uppercase;
  }

  /* Глобальные стили шрифта для кнопок */
  .global-base-button-font {
    font-family: var(--font);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
  }

  /* Коллекция классов для кнопок */
  .base-button-combining-classes {
    @apply cursor-pointer text-amber-50 border-amber-50 px-[30px] h-[50px] border rounded-2xl uppercase;
  }

  /* Коллекция классов home текста */
  .global-main-heading-classes {
    font-family: var(--font);
    @apply text-black text-[220px] max-lg:text-[200px] max-md:text-[150px] max-sm:text-[90px];
  }

  /* Коллекция классов для заголовков */
  .base-heading-combining-classes {
    font-family: var(--font);
    @apply text-amber-50 text-[50px] md:text-[100px] lg:text-[150px] uppercase;
  }

  /* Коллекция классов для мини заголовков */
  .base-mini-heading-combining-classes {
    font-family: var(--font);
    @apply text-amber-50 text-[20px] py-[10px] uppercase;
  }

  /* Коллекция классов для параграфов */
  .base-paragraph-combining-classes {
    font-family: var(--font);
    @apply text-amber-50 text-[14px] lg:text-[20px] uppercase;
  }

  /* Коллекция классов для списка */
  .base-li-combining-classes {
    font-family: var(--font);
    @apply text-amber-50 text-[14px] uppercase;
  }

  /* Отступы главных блоков*/

  .global-space-main-elements {
    @apply py-[20px];
  }

  /* Коллекция классов для отступов элементов */
  .global-combining-classes-space-elements {
    @apply py-10 max-lg:py-8;
  }

  /* Стили для отключения копирования текста */
  .global-user-no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
  }
}

@layer utilities {
  @keyframes link-glow-active {
    0%,
    100% {
      text-shadow: 0 0 0px rgba(255, 255, 255, 0.7);
    }
    50% {
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
    }
  }

  @keyframes loading {
    0% {
      transform: scale(1);
      opacity: 0.3;
    }
    50% {
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.3;
    }
  }

  .loading-animate {
    animation: loading 5s infinite ease-in-out;
  }

  .link-glow-active {
    animation: link-glow-active 2s infinite ease-in-out alternate;
  }

  .global-text-shadow-hover {
    transition: text-shadow 0.3s ease-in;
    &:hover {
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
    }
  }
}
