@import "tailwindcss";

* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

.container {
  padding: 0 10px;
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@layer components {
  .test {
    background-color: gray;
  }
}

@font-face {
  font-family: "Quicksand-Light";
  src: url("/Fonts/Quicksand/static/Quicksand-Light.ttf");
}

@font-face {
  font-family: "Orbitron-Regular";
  src: url("/Fonts/Orbitron/Static/Orbitron-Regular.ttf");
}

:root {
  --font: "Orbitron-Regular";
}

@layer components {
  /* тест бэка */
  .aboutMeTransition {
    background: linear-gradient(
      90deg,
      #ffdb8c 0%,
      #ffb762 16.667%,
      #ff712d 33.333%,
      #c22200 50%,
      #610000 66.667%,
      #040000 83.333%,
      #000000 100%
    );
  }
  /* Глобальные стили шрифта для ссылок и для главного заголовка в Home */
  .global-links-fonts,
  .global-main-title {
    font-family: var(--font);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
  }

  /* Глобальные стили шрифта для кнопок */
  .global-base-button-font {
    font-family: var(--font);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
  }

  /* Коллекция классов для кнопок */
  .base-button-combining-classes {
    @apply cursor-pointer text-amber-50 border-amber-50 pr-[50px] pl-[50px] h-[50px] border rounded-2xl;
  }

  /* Коллекция классов home текста */
  .global-main-heading-classes {
    font-family: var(--font);
    @apply text-black text-[220px] max-lg:text-[200px] max-md:text-[150px] max-sm:text-[90px];
  }

  /* Коллекция классов для заголовков */
  .base-heading-combining-classes {
    font-family: var(--font);
    @apply text-amber-50 text-[50px] md:text-[100px] lg:text-[150px] uppercase;
  }

  /* Коллекция классов для мини заголовков */
  .base-mini-heading-combining-classes {
    font-family: var(--font);
    @apply text-amber-50 text-[20px] py-[10px] uppercase;
  }

  /* Коллекция классов для параграфов */
  .base-paragraph-combining-classes {
    font-family: var(--font);
    @apply text-amber-50 text-[14px] lg:text-[20px] uppercase;
  }

  /* Коллекция классов для списка */
  .base-li-combining-classes {
    font-family: var(--font);
    @apply text-amber-50 text-[14px] uppercase;
  }

  /* Отступы главных блоков*/

  .global-space-main-elements {
    @apply py-[20px];
  }

  /* Коллекция классов для отступов элементов */
  .global-combining-classes-space-elements {
    @apply py-10 max-lg:py-8;
  }

  /* Стили для отключения копирования текста */
  .global-user-no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
  }
}

@layer utilities {
  @keyframes link-glow-active {
    0%,
    100% {
      text-shadow: 0 0 0px rgba(255, 255, 255, 0.7);
    }
    50% {
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
    }
  }

  @keyframes transitionDivPortfolio {
    0% {
      border-radius: 40% 60% 50% 70%;
    }
    25% {
      border-radius: 30% 50% 70% 80%;
    }
    50% {
      border-radius: 20% 30% 40% 50%;
    }
    70% {
      border-radius: 40% 50% 80% 70%;
    }
    80% {
      border-radius: 20% 40% 90% 30%;
    }
    90% {
      border-radius: 30% 50% 70% 40%;
    }
    100% {
      border-radius: 40% 60% 50% 70%;
    }
  }

  .transitionDivPortfolio {
    animation: transitionDivPortfolio 10s infinite alternate ease-in-out;
  }

  .link-glow-active {
    animation: link-glow-active 2s infinite ease-in-out;
  }

  .global-text-shadow-hover {
    transition: text-shadow 0.3s ease-in;
    &:hover {
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
    }
  }
}
